/*
style.css
*/

  body {
    font-size: 14px;
/*    background-color: #ffd700;*/
  }
  

  .row {
    margin-bottom: 50px;
  }
  
  .icon {
    text-align: center;
  }
  
  .icon .glyphicon {
    margin-bottom: 10px;
    font-size: 40px;
    color: #777;
  }
  
  .content h3 {
    font-size: 14px;
    color: #666;
  }
  
  .content p {
    margin-bottom: 30px;
  }
  
  .content img {
    margin-bottom: 30px;
  }
  
  header {
    border-bottom: 1px solid#e7e7e7;
    background-color: #fffacd;
    text-align: left
  }

  .header_txt {
    padding: 20px 20px 0px 20px;
    font-size: 30px;
    color: #666;
  }

  .header_txt2 {
    padding: 0px 20px 20px 20px;
    font-size: 18px;
    color: #666;
    text-align: right
  }

  footer {
    border-top: 1px solid#e7e7e7;
    background-color: #fffacd;
    text-align: center;
  }
  
  .copyright {
    padding: 20px 0;
    font-size: 12px;
    color: #666;
  }
  
